# Basic_Python_Class_02

# 1.Loop

In [1]:
fruits= ["Apple","Banana","Cherry"]
for x in fruits:
    print(x)

Apple
Banana
Cherry

In [7]:
for x in 'apple':
    print (x)

a
p
p
l
e

In [8]:
for x in range (15):
    print (x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [9]:
for x in range (10,15):
    print (x)

10
11
12
13
14

In [10]:
for x in range (3,15,3):
    print (x)

3
6
9
12

In [13]:
 for x in range (10):
    print (x)
 else:
        print("End")

0
1
2
3
4
5
6
7
8
9
End

In [14]:
first = ["Red","Big","Tasty"]
second = ["Apple","Banana","Cherry"]
for x in first:
    for y in second:
        print(x,y)

Red Apple
Red Banana
Red Cherry
Big Apple
Big Banana
Big Cherry
Tasty Apple
Tasty Banana
Tasty Cherry

In [15]:
first = ["Red","Big","Tasty"]
second = ["Apple","Banana","Cherry"]
for x in first:
    for y in second:
        print(y,x)

Apple Red
Banana Red
Cherry Red
Apple Big
Banana Big
Cherry Big
Apple Tasty
Banana Tasty
Cherry Tasty

In [28]:
first=["Red","Big","Tasty"]
for x in first:
    if x=="Big":
        break
print(x)

Big

In [29]:
first=["Red","Big","Tasty"]
for x in first:
    if x=="Big":
        continue
print(x)

Tasty

In [31]:
numbers=[2,3,4,5,6,7,8,9,10]
sum=0
for x in numbers:
    sum=sum+x
    print(sum)

2
5
9
14
20
27
35
44
54

In [32]:
numbers=[2,3,4,5,6,7,8,9,10]
sum=0
for x in numbers:
    sum=sum+x
print(sum)

54

In [33]:
items = ["Apple","Banana","Cherry"]
x=enumerate(items)
print(list(x))

[(0, 'Apple'), (1, 'Banana'), (2, 'Cherry')]

In [36]:
items = ["Apple","Banana","Cherry"]
x=enumerate(x,10)
print(list(items))

['Apple', 'Banana', 'Cherry']

In [37]:
items = ["Apple","Banana","Cherry"]
x=enumerate(x,10)
print(list(items))

['Apple', 'Banana', 'Cherry']

In [38]:
import turtle
turtle.forward(100)

In [ ]:
import turtle
turtle.shape("turtle")
turtle.speed(1)
turtle.forward(100)
turtle.left(90)
turtle.forward(60)
turtle.left(90)
turtle.forward(100)
turtle.left(90)
turtle.forward(60)
turtle.left(90)
turtle.exitonclick()